doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title Koumoul - Données tabulaires
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="icon", href="/favicon.ico?v=6")
    meta(property="description", content="Données tabulaire en ligne.")
    meta(property="og:url", content="https://koumoul.com/s/tabular-data/")
    meta(property="og:title", content="Koumoul - Données tabulaires")
    meta(property="og:description", content="Données tabulaire en ligne.")
    meta(property="og:image", content="https://koumoul.com/assets/koumoul.png")
    meta(property="og:image:height", content="256")
    meta(property="og:image:width", content="256")
    meta(property="fb:app_id", content="1834045453478917")
    meta(property="og:locale", content="fr_FR")
    script(type="application/ld+json").
      {
      "@context": "http://schema.org/",
      "@type": "Product",
      "name": "Données tabulaire en ligne",
      "image": "https://koumoul.com/assets/koumoul.png",
      "description": "Donnéees tabulaires en ligne",
      "brand": {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "Koumoul",
      "legalName": "Koumoul",
      "url": "https://koumoul.com/",
      "logo": "https://koumoul.com/assets/koumoul.png",
      "foundingDate": "2017",
      "founders": [{
      "@type": "Person",
      "name": "Nicolas Bonnel"
      }, {
      "@type": "Person",
      "name": "Alban Mouton"
      }],
      "address": {
      "@type": "PostalAddress",
      "streetAddress": "19, rue de la voie lactée",
      "addressLocality": "Saint Avé",
      "postalCode": "56890",
      "addressCountry": "France"
      },
      "contactPoint": [{
      "@type": "ContactPoint",
      "contactType": "customer service",
      "url": "https://koumoul.com/contact",
      "email": "contact@koumoul.com",
      "availableLanguage": ["English", "French"]
      }, {
      "@type": "ContactPoint",
      "contactType": "technical support",
      "email": "support@koumoul.com",
      "url": "https://koumoul.com/contact",
      "availableLanguage": ["English", "French"]
      }],
      "sameAs": ["https://plus.google.com/108675070247986361976", "https://twitter.com/Koumoul_fr", "https://gitlab.com/koumoul", "https://github.com/koumoul-dev", "http://codepen.io/koumoul/",
      "http://www.data.gouv.fr/fr/organizations/koumoul-1/"
      ]
      }
      }
    // Use webpack css loader or we don't care ?
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
  body
    #app
    script.
      window.public_url='#{base_URL}';
      window.koumoul_url='#{koumoul_URL}'
    script(src=base_URL+'/bundles/app.js')
